{% extends 'login_main.html' %} 
{% block content %} 
{% load static %}

<form method="post">
  {% csrf_token %}
    <img
      class="mb-4"
      src="{% static '/images/logo.svg' %}"
      alt=""
      width="72"
      height="72"
    />
  <h1 class="h3 mb-3 font-weight-normal">Esqueci minha senha</h1>
  {{form.email.errors}}
    <label for="inputEmail" class="sr-only">E-mail</label>
    {{ form.email }}
  <button class="btn btn-info col-12 mt-3" type="submit">Enviar</button>
</form>

<script>
  let emailField = document.getElementById('id_email');
  emailField.classList.add('form-control');
  emailField.setAttribute('placeholder', 'E-mail');
</script>


{% endblock %}
