{% extends 'login_main.html' %}

{% block content %}
  {% load static %}
  {% if validlink %}
    
    <form method="post">
      {% csrf_token %}

      <img
        class="mb-4"
        src="{% static '/images/logo.svg' %}"
        alt=""
        width="72"
        height="72"
      />
      <h1 class="h3 mb-3 font-weight-normal">Alterar senha</h1>
      
      <label for="" class="sr-only">Senha:</label>
      {{ form.new_password1 }}
      
      <label for="" class="sr-only">Confirmar senha:</label>
      {{ form.new_password2 }}

      {% if form.new_password1.errors %}
        <div class="alert alert-danger mt-2" role="alert">
          {{form.new_password1.errors}}
        </div>
      {% endif %}

      {% if form.new_password2.errors %}
        <div class="alert alert-danger mt-2" role="alert">
          {{form.new_password2.errors}}
        </div>
      {% endif %}

      <button class="btn btn-info col-12 mt-3" type="submit">Alterar senha</button>
    </form>

    <script>
      let newPassword1 = document.getElementById('id_new_password1');
      let newPassword2 = document.getElementById('id_new_password2');
      console.log(newPassword1, newPassword2);
      newPassword1.classList.add('form-control');
      newPassword2.classList.add('form-control');
      newPassword2.classList.add('mt-2');
      newPassword1.setAttribute('placeholder', 'Senha');
      newPassword2.setAttribute('placeholder', 'Confirmar senha');
    </script>
  {% else %}
    <p>
      O link para alteração de senha é inválido, provavelmente pois já foi utilizado.
      Por favor peça um novo link de alteração de senha.
    </p>
  {% endif %}
{% endblock %}