{% extends '../main.html' %}
{% load static %}
{% if assets %}
{% block content %}

{% csrf_token %} 

<script type='text/javascript'>
  let initial_patrimony = parseFloat("{{initial_patrimony|safe}}")
  if(isNaN(initial_patrimony)) initial_patrimony = 0;
</script>

<style>
  .dollar{
    display: none;
  }
  #stepByStep{
    border-left: 10px solid #456;
  }

</style>


<div class="row m-3">
  <div class="col-12 text-dark h2 px-0">
    <button style="display: none" class="btn btn-primary col-lg-2 col-md-4 col-sm-12 offset-1 m-0 btnOpen float-left mt-3">Abrir Passo a Passo</button>
    <form action="#" id="simulate_investment" class="col-12 col-sm-9 col-md-6 col-lg-4 m-0 p-0 mt-3 text-right float-right">
      <input style="vertical-align: middle;" id="simulated_investment" type="number" class="form-control d-inline col-5 m-0" placeholder="Valor"/>
      <button type="submit" class="btn btn-primary col-6 offset-1 m-0">Simular Investimento</button>
    </form>
  </div>

  <div id="stepByStep" style="display: none" class="my-3 bg-light col-12">
    <div class="row my-1">
      <div class="col-12">
  
        <ul class="stepper stepper-vertical">
    
          
        </ul>

      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table id="assets" class="table my-2 table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Categoria</th>
          <th scope="col">Nota</th>
          <th scope="col">Preço Atual (R$)</th>
          <th scope="col">Tenho</th>
          <th scope="col">Tenho (R$)</th>
          <th scope="col">% Tenho</th>
          <th scope="col">Pode investir?</th>
          <th scope="col">% Ideal</th>
          <th scope="col" class="real"><button class="btn btn-dark m-0 py-0" id="btnToInvestReal">A investir (R$)</button></th>
          <th scope="col" class="dollar"><button class="btn btn-dark m-0 py-0" id="btnToInvestDollar">A investir ($)</button></th>
          <th scope="col">Falta</th>
        </tr>
      </thead>
      <tbody>
        {% for asset in assets %}
        <tr key="asset">
          <td style="display:none" key="code" class="align-middle">{{asset.code}}</td>
          <td style="display:none" key="category_weight" class="align-middle">{{asset.category_weight}}</td>
          <td style="display:none" key="category_pk" class="align-middle">{{asset.category.pk}}</td>
          <td style="display:none" key="fractioned" class="align-middle">{{asset.fractioned}}</td>
          <td style="display:none" key="can_invest" class="align-middle">{{asset.can_invest}}</td>
          <td style="display:none" key="invest_type" class="align-middle">{{asset.invest_type}}</td>
          <td key="short_code" class="align-middle">{{asset.short_code}}</td>
          <td key="category" class="align-middle">{{asset.category}}</td>
          <td key="score" class="align-middle">{{asset.score}}</td>
          <td key="price" class="align-middle">...</td>
          <td key="count" class="align-middle">{{asset.count|floatformat:3}}</td>
          <td key="have" class="align-middle">...</td>
          <td key="have_percentage" class="align-middle">...</td>
          <td key="can_invest_text" class="align-middle">
            {% if asset.can_invest %}
              Sim
            {% else %}
              Não
            {% endif %}
          </td>
          <td key="ideal_percentage" class="align-middle">{{asset.ideal_percentage}}</td>
          <td key="to_invest" class="align-middle real">...</td>
          <td key="to_invest_dollar" class="align-middle dollar">...</td>
          <td key="to_invest_count" class="align-middle">...</td>
        </tr>

        {% endfor %}

        {% for saving_category in savings %}

        <tr key="saving" style="font-weight: bold;">
          <td key="code" class="align-middle">--</td>
          <td style="display:none" key="category_weight" class="align-middle">{{saving_category.ideal_percentage}}</td>
          <td style="display:none" key="category_pk" class="align-middle">{{saving_category.pk}}</td>
          <td style="display:none" key="fractioned" class="align-middle">{{saving_category.fractioned}}</td>
          <td style="display:none" key="ideal_percentage" class="align-middle">{{saving_category.ideal_percentage}}</td>
          <td key="category" class="align-middle">{{saving_category.title}}</td>
          <td key="score" class="align-middle"> - </td>
          <td key="price" class="align-middle"> - </td>
          <td key="count" class="align-middle"> - </td>
          <td key="have" class="align-middle">{{saving_category.final_amount|floatformat:2}}</td>
          <td key="have_percentage" class="align-middle">...</td>
          <td key="can_invest_text" class="align-middle">Sim</td>
          <td key="real_percentage" class="align-middle">...</td>
          <td key="to_invest" class="align-middle real">...</td>
          <td key="to_invest_dollar" class="align-middle dollar">...</td>
          <td key="to_invest_count" class="align-middle">...</td>
        </tr>

        {% endfor %}

      </tbody>
    </table>
  </div>
</div>

<script src="{% static '/js/makeinvestment.js' %}"></script>

{% endblock %}
{% endif %}