{% extends '../main.html' %}
{% load static %}
{% if assets %}
{% block content %}

{% csrf_token %} 

<div class="row m-3">
  <div class="col-md-12 text-dark h2 px-0">
    Balanceamento de Ativos
  </div>
  <table id="assets" class="table my-2 table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Categoria</th>
        <th scope="col">Nota</th>
        <th scope="col">Preço Atual (R$)</th>
        <th scope="col">Tenho</th>
        <th scope="col">Tenho (R$)</th>
        <th scope="col">% Tenho</th>
        <th scope="col">% Ideal</th>
        <th scope="col">A investir</th>
        <th scope="col">Falta</th>
      </tr>
    </thead>
    <tbody>
      {% for asset in assets %}
      <tr>
        <td style="display:none" key="code" class="align-middle">{{asset.code}}</td>
        <td key="short_code" class="align-middle">{{asset.short_code}}</td>
        <td key="category" class="align-middle">{{asset.category}}</td>
        <td key="score" class="align-middle">{{asset.score}}</td>
        <td key="price" class="align-middle">...</td>
        <td key="count" class="align-middle">{{asset.count}}</td>
        <td key="have" class="align-middle">...</td>
        <td key="have_percentage" class="align-middle">...</td>
        <td key="ideal_percentage" class="align-middle">{{asset.ideal_percentage}}</td>
        <td key="to_invest" class="align-middle">...</td>
        <td key="missing" class="align-middle">...</td>
      </tr>

      {% endfor %}

    </tbody>
  </table>
</div>

<script src="{% static '/js/makeinvestment.js' %}"></script>

{% endblock %}
{% endif %}