{% load static %} {% block content %}

<style>
  .btnLogout:hover {
    color: coral !important;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-info" href="#">Invest Balance</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li id="summary" class="nav-item active">
        <a class="nav-link" href="{% url 'list_assets' %}">Resumo de ativos</a>
      </li>
      <li id="invest" class="nav-item">
        <a class="nav-link" href="{% url 'invest' %}">Investir</a>
      </li>
      <li id="package" class="nav-item">
      </li>
      <li id="package" class="nav-item">
      </li>
    </ul>
  </div>
  <div class="mr-2 text-light">
    <i class="text-info fa fa-user mr-1 fa-lg"></i>
  </div>
</nav>


<script src="{% static '/js/header.js' %}"></script>

{% endblock %}
