{% load static %} {% block content %}

<style>
  .btnLogout:hover {
    color: coral !important;
  }

  .dropdown-item:hover {
    color: #333 !important;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-info" href="{% url 'summary' %}"
    >Invest Balance</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li id="summary_header" class="nav-item">
        <a class="nav-link" href="{% url 'summary' %}">Resumo Total</a>
      </li>
      <li id="assets_header" class="nav-item">
        <a class="nav-link" href="{% url 'list_assets' %}">Ativos</a>
      </li>
      <li id="invest_header" class="nav-item">
        <a class="nav-link" href="{% url 'invest' %}">Investir</a>
      </li>
      <li id="history_header" class="nav-item">
        <a class="nav-link" href="{% url 'history' %}">Histórico</a>
      </li>
      <li id="add_header" class="nav-item">
        <div class="dropdown d-block text-left d-md-inline mb-3 mb-sm-0">
          <a
            class="btn dropdown-toggle nav-link text-left text-md-center"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Adicionar
          </a>
          {% if not request.user.is_anonymous %}
          <div
            class="dropdown-menu bg-dark w-100 w-sm-auto"
            aria-labelledby="dropdownMenuLink"
          >
            <a
              class="dropdown-item text-white my-1 my-md-0 py-4 py-md-2 border border-secondary border-md-0"
              href="{% url 'add_category' %}"
              >Categoria</a
            >
            <a
              class="dropdown-item text-white my-1 my-md-0 py-4 py-md-2 border border-secondary border-md-0"
              href="{% url 'add_asset' %}"
              >Ativo</a
            >
            <a
              class="dropdown-item text-white my-1 my-md-0 py-4 py-md-2 border border-secondary border-md-0"
              href="{% url 'add_transfer' %}"
              >Transferência</a
            >
            <a
              class="dropdown-item text-white my-1 my-md-0 py-4 py-md-2 border border-secondary border-md-0"
              href="{% url 'add_purchase' %}"
              >Compra</a
            >
            <a
              class="dropdown-item text-white my-1 my-md-0 py-4 py-md-2 border border-secondary border-md-0"
              href="{% url 'add_saving' %}"
              >Renda Fixa</a
            >
          </div>
          {% endif %}
        </div>
      </li>
    </ul>
  </div>
  <div class="mr-2 text-light">
    <i class="text-info fa fa-user mr-1 fa-lg"></i>
    <span>{{ user.get_username }}</span>
    <a href="{% url 'logout'%}"
      ><i class="btnLogout fa fa-lg fa-sign-out ml-3 text-info"></i
    ></a>
  </div>
</nav>

<script src="{% static '/js/header.js' %}"></script>

{% endblock %}
