{% extends '../main.html' %}
{% load static %}
{% block content %}

{% load guiabolso_tags %}

{% csrf_token %} 

<style>

  td[key='category']{
    font-size: 13px;
  }

  .ignore-input:hover{
    color: blue;
    cursor: pointer;
  }

  @media (min-width: 990px) {
    td[key='category']{
      font-size: 16px;
    }
  }

</style>

<div class="d-none d-lg-flex row m-3">
  {% include './filter.html' %}
</div>

<div class="row m-0 m-lg-3">
  <div id="accordion" class="col-12 p-0">
    <div class="card d-block d-lg-none">
      <div class="card-header" id="headingZero">
        <h5 class="mb-0">
          <button class="btn btn-link w-100 d-flex justify-content-between align-items-center p-0" data-toggle="collapse" data-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
            Filtros
            <a class="btn btn-secondary ml-2 refresh float-right" href="#">
              <i class="fa fa-sync mr-1"></i>
            </a>
          </button>
        </h5>
      </div>
  
      <div id="collapseZero" class="collapse" aria-labelledby="headingZero" data-parent="#accordion">
        <div class="card-body p-0 py-2">
          {% include './filter.html' %}
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link px-0 w-100 d-flex justify-content-between align-items-center" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Categorias
            <span class="
              {% if total > 0 %}
                text-success
              {% else %}
                text-danger 
              {% endif %}
            ">
              {{total|stringformat:".2f"}}
            </span>
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body p-0">
          <div class="table-responsive">
            <table id="categories" class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Ignorar</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Valor (R$)</th>
                </tr>
              </thead>
              <tbody>
                {% if categories %}
                {% for category in categories %}
                <tr {% if category.is_ignored %}
                  style="opacity: 0.1"
                  {% endif %}
                  class="category"
                >
                  <td class="d-none c-code">{{category.category__code}}</td>
                  <td class="d-none c-name">{{category.category__name}}</td>
                  <td class="c-is-ignored align-middle cursor-pointer">
                    <div>
                      <div class="ignore-input">
                        {% if category.is_ignored %}
                          <i class="fa fa-lg fa-eye-slash mr-2"></i>
                        {% else %}
                          <i class="fa fa-lg fa-eye mr-2"></i>
                        {% endif %}
                        Ignorar
                      </div>
                    </div>
                  </td>
                  <td class="align-middle category">
                    <div style="
                      background-color:#{{category.category__color}};
                      color:#{{category.category__color|text_color}};
                      cursor: pointer;
                    " class="m-2 p-2 rounded d-inline">{{category.category__symbol|symbol}} {{category.category__name}}</div>
                  </td>
                  <td class="c-value align-middle {% if category.value > 0 %} text-success {% else %} text-danger {% endif %}">{{category.value|stringformat:".2f"}}</td>
                </tr>

                {% endfor %}
                {% endif %}

                <tr class="bg-dark text-white">
                  <td class="align-middle pl-4">Total</td>
                  <td></td>
                  <td key="value" class="align-middle">{{total|stringformat:".2f"}}</td>
                </td>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link px-0 w-100 d-flex justify-content-between align-items-center collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Transações
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body p-0 d-none d-lg-block">
          {% include './transactions_lg.html' %}
        </div>
        <div class="card-body p-0 d-block d-lg-none">
          {% include './transactions.html' %}
        </div>
      </div>
    </div>
  </div>

</div>

<script>
  var baseUrl = "{% url 'list_guiabolso' %}?";
  var refreshUrl = "{% url 'refresh_guiabolso' %}?";

  var startDate, endDate

  {% if startdate %}
    startDate = "{{startdate|date:'d/m/Y'}}"
  {% endif %}

  {% if enddate %}
    endDate = "{{enddate|date:'d/m/Y'}}"
  {% endif %}

</script>

<script src="{% static '/js/guiabolso.js' %}"></script>


{% endblock %}