{% extends '../main.html' %}
{% load static %}
{% if categories %}
{% block content %}

{% csrf_token %} 

<style>
  #chartContainer{
    width: 30%;
    margin: 30px auto;
  }
  @media screen and (max-width: 1200px) {
    #chartContainer{
      width: 50%;
    }
  }
  @media screen and (max-width: 1000px) {
    #chartContainer{
      width: 60%;
    }
  }
  @media screen and (max-width: 800px) {
    #chartContainer{
      width: 75%;
    }
  }
  @media screen and (max-width: 600px) {
    #chartContainer{
      width: 90%;
    }
  }
</style>

<script type='text/javascript'>
  let categories = JSON.parse("{{categories|safe}}".replace(/'/g, '"'));
  let savings = JSON.parse("{{saving_categories|safe}}".replace(/'/g, '"'));
  let initial_patrimony = parseFloat("{{initial_patrimony|safe}}")
  if(isNaN(initial_patrimony)) initial_patrimony = 0;
</script>

<div class="row m-3">
  <div class="table-responsive">
    <table id="categories" class="table my-2 table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Categoria</th>
          <th scope="col">Total Investido</th>
          <th scope="col">Total Atual</th>
          <th scope="col">Rendimento</th>
          <th scope="col">Otimizar</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
        <tr key="category">
          <td key="pk" style="display:none">{{category.pk}}</td>
          <td key="title" class="align-middle">{{category.title}}</td>
          <td key="sum" class="align-middle">{{category.sum}}</td>
          <td key="current_value" class="align-middle">...</td>
          <td key="yield" class="align-middle">...</td>
          <td key="optimize" class="align-middle"><a class="btn btn-primary" href="{% url 'risk_category' category.pk %}"><i class="fas fa-rocket"></i></a></td>
        </tr>

        {% endfor %}


        {% for saving in savings %}
          {% if saving.current_value > saving.sum %}
          <tr key="savings" class="bg-success">
          {% else %}
          <tr key="savings" class="bg-danger">
          {% endif %}
            <td key="title" class="align-middle">{{saving.title}}</td>
            <td key="sum" class="align-middle">{{saving.sum|floatformat:2}}</td>
            <td key="current_value" class="align-middle">{{saving.current_value|floatformat:2}}</td>
            <td key="yield" class="align-middle">{{saving.yield}}</td>
            <td key="optimize" class="align-middle"></td>
          </tr>
        {% endfor %}

        <tr key="total" style="font-weight: bold;">
          <td key="title" class="align-middle">TOTAL</td>
          <td key="sum" class="align-middle">{{total_sum}}</td>
          <td key="current_value" class="align-middle">...</td>
          <td key="yield" class="align-middle">...</td>
          <td key="optimize" class="align-middle"></td>
        </tr>

      </tbody>
    </table>
  </div>
  <div id="chartContainer">
    <canvas id="summaryChart" width="600" height="600"></canvas>
  </div>
</div>

<div id="errorContainer" class="p-2"></div>


<script src="{% static '/js/summary.js' %}"></script>

{% endblock %}
{% endif %}